    body {
        margin: 0;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-image: url("lavendar\ background.avif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-card {
        width: 320px;
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.3);
        text-align: center;
        backdrop-filter: blur(25px);
    }

    h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .input-box {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 20px;
        border: none;
        background: #f1f1f1;
        outline: none;
    }

    .options {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin: 10px 0;
    }

    .options a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    .login-btn {
        width: 100%;
        padding: 10px;
        background: #0b8acb;
        border: none;
        color: white;
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    .login-btn:hover {
        background: #086fa3;
    }

    .create {
        margin-top: 15px;
        font-size: 13px;
    }

    .create a {
        text-decoration: none;
        color:#bf80e7;
        cursor: pointer;
    }
    .create a:hover {
       color: #caa2f2;
    }

    .hidden {
        display: none;
    }